<div class="container">
    <h1 class="text-center">
        Formulario Alta de Materia
    </h1>
    <div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Nombre</label>
                <input type="text" class="form-control" #nombre>
            </div>
            <hr>
            <div class="form-group col-md-12">
                <label>Activo</label>
                <input type="number" class="form-control" #activo>
            </div>

           
            
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary btn-xs" (click)="Guardar()">
                Guardar
            </button>
        </div>

        
    </div>
</div>  